
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Quản lí món ăn</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" type="image/x-icon"
	th:href="@{/assets/img/favicon.ico}" />

<!-- CSS here -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>
	<!-- <div th:replace="/user/header.html :: head"></div>
	<div>
		<div th:each="s : ${productDTOs}"  style="border:1px solid red;">
			<p th:text="${s.id}"></p>
			<p th:text="${s.productName}"></p>
			<p th:text="${s.productDescription}"></p>
			<img style="width: 200px;" th:src="${s.image}">
			<div th:each="r:${s.productResourceDTOs}">
				<p th:text="${r.resource.resourceName}"></p>
				<p th:text="${r.gram}"></p> gram
				
			</div>
		</div>
	</div> -->
	<div class="modal" id="confirm-delete" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Bạn có chắc chắn không?</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Không</button>
					<a class="btn btn-danger btn-ok">Có</a>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="user/header.html :: head"></div>

	<main>
		<!--================Blog Area =================-->
		<section class="blog_area section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 mb-5 mb-lg-0">
						<div id="wrapper">
							<!-- /. NAV SIDE  -->
							<div id="page-wrapper">
								<div id="page-inner">
									<div class="row">
										<div class="col-md-12">
											<h2>Tất cả món ăn của bạn</h2>
										</div>
									</div>
									<!-- /. ROW  -->
									<hr />

									<div class="row">
										<div class="col-md-12">
											<!-- Advanced Tables -->
											<div class="panel panel-default">
												<div class="panel-heading"></div>
												<div class="panel-body">
													<!-- <div class="table-responsive"> -->
													<table
														class="table table-striped table-bordered table-hover"
														id="dataTables-example">
														<div class="row"></div>
														<thead>
															<div>
																<form th:action="@{/user/estimate}">
																	<button type="submit">Thêm món ăn mới</button>

																</form>
															</div>
															<br />
															<tr>
																<th>Tên Sản phẩm</th>
																<th>Hình ảnh</th>
																<th>Nguyên liệu</th>
																<th>Tuỳ chỉnh</th>
															</tr>
														</thead>
														<tbody>
															<tr class="odd gradeX" th:each="pro : ${listProduct}">
																<!-- <td th:text="${pro.id}"></td> -->
																<td th:text="${pro.productName}"></td>
																<td><img style="width: 200px;"
																	th:src="${pro.image}"></td>
																<td><i style="font-style: normal;"
																	th:each="res : ${pro.resources}" th:text="|${res}, |"></i>
																</td>
																<td><a
																	th:href="@{'/user/product/edit-product?id='+${pro.id}}">Sửa</a>&nbsp;&nbsp;|&nbsp;&nbsp;
																	<a data-target="#confirm-delete" data-toggle="modal"
																	th:data-href="@{'/user/product/delete?id='+${pro.id}}"
																	th:href="@{#}">Xoá</a>
																	<div>
																		<a data-target="#confirm-delete" data-toggle="modal"
																			th:if="${pro.enable == '1'}"
																			th:data-href="@{'/user/product/khoa?id='+${pro.id}}"
																			th:href="@{#}">Cá nhân</a> <a
																			data-target="#confirm-delete" data-toggle="modal"
																			th:if="${pro.enable == '0'}"
																			th:data-href="@{'/user/product/mokhoa?id='+${pro.id}}"
																			th:href="@{#}">Công khai</a>
																	</div></td>
															</tr>
														</tbody>

													</table>
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<!-- right side -->
					<div th:replace="user/rightProduct.html :: rightProduct"></div>
					<!-- end right side -->
				</div>
			</div>
		</section>
		<!--================Blog Area =================-->
	</main>
	<div th:replace="user/footer :: foot"></div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		$('#confirm-delete').on(
				'show.bs.modal',
				function(e) {
					$(this).find('.btn-ok').attr('href',
							$(e.relatedTarget).data('href'));

					$('.debug-url').html(
							'Delete URL: <strong>'
									+ $(this).find('.btn-ok').attr('href')
									+ '</strong>');
				});
	</script>

</body>
</html>
